# PostgreSQL
POSTGRES_USER=dabia
POSTGRES_PASSWORD=dabia_local_password
POSTGRES_DB=dabia

# The full database connection URL for the application
# Format: postgresql://<user>:<password>@<host>:<port>/<dbname>
DATABASE_URL=postgresql://dabia:dabia_local_password@localhost:5432/dabia

# Storage Provider: "gcp" or "r2"
STORAGE_PROVIDER=r2

# GCP Cloud Storage settings
GCP_BUCKET_NAME=dabia-assets
GCP_MEDIA_PATH=medias

# R2 Cloudflare Storage settings
R2_PUBLIC_URL=https://rawcontent.erictans.com
R2_MEDIA_PATH=medias

# Auth
GOOGLE_CLIENT_ID=your_google_client_id_here
SECRET_KEY=your_secret_key_here
