fastapi
uvicorn[standard]
pydantic-settings
google-auth
python-jose[cryptography]
passlib[bcrypt]

# Database
sqlalchemy
alembic
psycopg2-binary

# Testing
pytest
httpx
testcontainers[postgresql]
pytest-cov



