@import "tailwindcss";

@layer base {
  :root {
    --background: #faf9f5;
    --foreground: #3d3929;
    --card: #faf9f5;
    --card-foreground: #141413;
    --popover: #ffffff;
    --popover-foreground: #28261b;
    --primary: #c96442;
    --primary-foreground: #ffffff;
    --secondary: #e9e6dc;
    --secondary-foreground: #535146;
    --muted: #ede9de;
    --muted-foreground: #83827d;
    --accent: #e9e6dc;
    --accent-foreground: #28261b;
    --destructive: #141413;
    --destructive-foreground: #ffffff;
    --border: #dad9d4;
    --input: #b4b2a7;
    --ring: #c96442;
    --radius: 0.5rem;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}